@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}
/* globales  en todo el sitio */
a{
    text-decoration: none;
}
h2{
    font-size: 18px;
    font-weight: 600;
}

:root{
    --purple:linear-gradient(90deg, rgb(112, 55, 158) 0%, rgb(162, 81, 194) 100%);
    --purpledark:#5a0f8bbd;
    --whiter:#ffff;
}

#top{
    min-height: 250px;
    background: var(--purple);
}

.menu-btn{
    position: fixed;
    cursor: pointer;
    top: 30px;
    right:10px;
    font-size: 1.5rem ;
    z-index: 250;
    display: none;
}
    header{
        width: 1100px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center; /* centrado en vertical */
    }

    header a img{
        width: 36px;
        vertical-align: middle;

    }
    header a {
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }
    header nav a{
        padding: 14px;
    }

   

    #top h1{
        width: 1100px;
        margin: 53px auto 0px auto;
        font-size: 32px;
        font-weight: 600;
        color: #fff;
    }


/* ## heroIndex ## */
/* ## heroIndex ## */
    #heroIndex{
        width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        #heroIndex article{
            width: 630px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        #heroIndex article p{
            width: 100%;
            color: #fff;
            margin: 24px 0px 48px 0px;
        }
        #heroIndex img{
            margin: 60px 120px 60px 0px;
        }
        #heroIndex article a{
            color: #fff;
            text-align: center;
            border: 1px solid #fff;
            border-radius: 32px;
            padding: 8px 0px;
            width: 210px;
            display: inline-block;
            transition: 300ms;
        }
        #heroIndex article a:hover{
            background-color: #fff;
            color: rgb(215,143,183);
        }

main {
    min-height: 1200px;
}

/* ##  sección index ## */
/* ##  sección index ## */
    #heroImg{
        width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    #heroImg img {
        margin-top: 100px;
        width: 72px;
        margin-left: 150px;
    }

    #heroImg p {
        font-weight: 600;
        text-align: center;
    }

    #heroImg h2{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    #selecionar-producto {
        max-width: 1000px;
        display: flex;
        justify-content: space-evenly;
        /* mix-blend-mode: 100px; */
        flex-wrap: wrap;
        margin:auto;
        border: #323232 solid 2px;
        border-radius: 20px;
        /* background-color: #5a0f0f; */
        background:var(--purple);
     }
    #selecionar-producto article{
        width: 400px;
        height: 200px;
        padding: 20px;
        border: #323232 solid 4px;
        margin: 20px 0px 20px 0px;
        text-align: center;
        border: #323232 solid 2px;
        border-radius: 20px;
        /*background-image:url(/remeras/jordan.png);*/
        /* margin: 40px;*/
    }
    #selecionar-producto article p {
        display: flex;
        color: #1a1818;
        justify-content: space-around;
    }
   

    #selecionar-producto article button {
        margin-top: 20px;
        min-height: 40px;
        padding: 10px;
        cursor:pointer;
        border-radius: 10px;
        border: solid 1px #db3232;
    }

 #fortable{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#formulario{
    margin-top: 50px;
    min-height: 50px;
    width: 340px;
    margin: 40px 0px 40px 100px;
    border: #323232 solid 2px;
    border-radius: 20px;
    color: #1a1818;
    background: var(--purple);
}
#formulario  .mb-3 label{
    margin: 0px 0px 0px 20px;
}
#formulario input{
    width: 300px;
    height: 50px;
    margin: 20px;
}

#formulario button{
    width: 300px;
    height: 50px;
    margin: 20px;
}
#formulario h1{
    width: 300px;
    margin: 50px;
    color: #f00f0f;
}
#tablaProductos{
    margin-top: 20px;
    width: 600px;
    min-height: 50px; 
    display: inline-block;
    margin: 40px 40px 0px 80px;
}
#tablaProductos td{
    width: 200px;
    color: #1a1818;
} 
/* ## sección contacto ## */
/* ## sección contacto ## */
#contacto{
    background-image: url(../imgs/bg-contacto.jpg);
    padding-top: 64px;
}
    #contacto section{
        display: flex;
        background-color: #fff;
        width: 1000px;
        margin: auto;
        border-radius: 16px;
        padding: 60px;
        justify-content: space-between;
    }
    #contacto form{
        width: 550px;
    } 
    #contacto input,
    #contacto textarea,
    #contacto button
    {
        font-family: Raleway, sans-serif;
        background-color: #F4F4F4;
        width: 550px;
        padding: 16px;
        border: none;
        /*border: 1px solid #ccc;*/
        box-shadow: 0px 0px 3px #999;
        border-radius: 12px;
        margin-bottom: 32px;
    }
    #contacto textarea{
        height: 152px;
        resize: vertical;
    }
    #contacto button{
        background-color: #444;
        color: #fff;
        cursor: pointer;
        transition: .3s;
    }
    #contacto button:hover{
        background-color: #323232;
    }

#contacto article {
    background-color: #F4F4F4;
    border-radius: 12px;
    width: 250px;
    height: 316px;
    text-align: center;
    
}
#contacto section article img {
    width: 72px;
    border: 1px solid #323232;
    border-radius: 38px;
    padding: 16px;
    display: inline-block;
    margin: 20px 0 12px 0 ;
     
}

#contacto article span{
    display: block;
    
}

#comprar{
   margin: 100px 320px 0px 0px;
   text-align: center;
}


#bottom{
    background-color: #262626;
    height: 150px;
    display: flex;
    align-items: center;
}
    footer{
        width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    footer img{
        width: 32px;
        vertical-align: middle;
    }
    footer a{
        color: #fff;
        font-size: 18px;
        text-decoration: none;
    }
    #redes a img{
        width: 16px;
        margin: 8px;

    }
    
@media only screen and (max-width:1120px){
    header{
        width: 900px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center; /* centrado en vertical */
    }

    #heroIndex{
        width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #heroIndex article{
        width: 530px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


}
@media only screen and (max-width:917px){
    header{
        width: 700px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center; /* centrado en vertical */
    }
    #heroIndex{
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #heroIndex article{
        width: 330px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


}

@media only screen and (max-width:717px){

    .menu-btn{
        display: block;
        z-index: 20;
    }
  
    #heroIndex{
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #heroIndex article{
        width: 330px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .menu{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background:var(--purple);
        width: 200px;
        height: 15%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translatex(1000px);
        transition: transform .5s ease-in-out;
        z-index: 10;
      }
     
     .menu.show{
        transform: translatey(0px);
     }


     #heroIndex article{
        display: none;
    }

    #heroIndex{
        /* width: 400px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center; */
        display: none;
    }

    header{
        width: 450px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center; /* centrado en vertical */
    }

    #top{
        min-height: 150px;
        background: var(--purple);
    }

}